* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #3D3D4E;
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  background-color: #F0F2F5;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.container-1 {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.container-2 {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 10px;
  border-radius: 14px;
}